.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
}

.status_bar__hour{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.status_bar__icons{
  img:not(:last-child){
    margin-right: 5px;
  }
}